{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn"><img src="https://img.icons8.com/FFFFFF/m_rounded/2x/available-updates.png" alt="">{{ button_label|default('Save')}}</button>
{{ form_end(form) }}