{% extends 'base.html.twig' %}

{% block title %}CarBuy - Accueil{% endblock %}

{% block body %}
    <main class="accueil">
        <h2>Bienvenue sur CarBuy !</h2>

        <div class="textaccueil">
            <p>Pas de connaissances particulières sur les voitures ? Quelle voiture serait la plus adaptée à vos demandes?</p>
            <p>Faites notre questionnaire de recommandation de voiture présent sur notre site !</p>
            <a href="http://localhost:3000"><img src="https://img.icons8.com/FFFFFF/ios11/2x/long-arrow-right.png" alt="">Faire le questionnaire !</a>
        </div>
    </main>
{% endblock %}
